<link rel="stylesheet" href="/css/dash.css">
<h2>Ideal Matches!</h2>
<section id = "ideal-matches">

</section>
<hr>

<h2>Secondary Matches</h2>
<section id = "secondary-matches">
    
</section>
<hr>

<h2>Basic Matches</h2>
<section id = "basic-matches">
    
</section>

<div id="full-view">
    <div id = "profile">
        <h2>Info</h2>
        <br>
    </div>

    <div id="answers">
        <h2>Survey Answers</h2>
        <br>
    </div>
</div>

<script src="/js/dashboard.js"></script>
