<link rel="stylesheet" href="/css/dash.css">
<h2>Ideal Matches!</h2>
<section id = "ideal-matches">

</section>
<hr>

<h2>Secondary Matches</h2>
<section id = "secondary-matches">
    
</section>
<hr>

<h2>Basic Matches</h2>
<section id = "basic-matches">
    
</section>

<div id="full-view">
    <div id = "image"></div>

    <div id="info">
        <div id = "profile">
            <button id = "close-popup">X</button>
            <h2 id = "name"></h2>
            <p id = "username"></p>
            <br>
            <section id = "rundown">
                <p id = "age"></p>
                <p id = "gender"></p>
                <p id = "race"></p>
                <p>Height: <span id = "height"></span></p>
                <p>Weight: <span id = "weight"></span></p>
                <p id = "religion"></p>
                <p id = "outgoing"></p>
                <p id = "politics"></p>
                <p id = "role"></p>
            </section>
            
            <br>
            <div id = "survey">
                <h2>Personality</h2>
                <br>
                <div id="answers">
                    
                </div>
            </div>
            
        </div>

        <div id="red-flags">
            <h2>Red Flags!</h2>
        </div>
       
        <div id="messages">
            <h2>Message!</h2>

            <section>
                
            </section>
            
            <textarea placeholder = "Don't be nervous! Everyone on here's looking for love."></textarea>
            <button>Submit</button>
        </div>
    </div>
   
</div>

<script src="/js/dashboard.js"></script>
