<link rel="stylesheet" href="/css/dash.css">

 <aside>
    {{#if session.userId}}
    <h2>{{session.username}}</h2>
    <div id="user-info"></div>
    <a class = "navbuttons" href="/bio/{{session.username}}">Settings</a>
    {{else}}
    <h2>User</h2>
    {{/if}}

    <input type="radio" name="filters" id="ideal" value = "ideal" checked = "true">
    <label class = "radio-button" for="ideal">Ideal</label>

    <input type="radio" name="filters" id="secondary" value = "secondary">
    <label class = "radio-button" for="secondary">Secondary</label>
    
    <input type="radio" name="filters" id="tertiary" value = "tertiary">
    <label class = "radio-button" for="tertiary">Tertiary</label>


</aside>

<h2>Ideal Matches!</h2>
<section id = "ideal-matches">

</section>
<hr>

<h2>Secondary Matches</h2>
<section id = "secondary-matches">
    
</section>
<hr>

<h2>Custom Matches</h2>
<select id="custom-match">
    <option disabled selected>Custom Criterion</option>
    <option value="religion">Religion</option>
    <option value="role">Gender Role</option>
    <option value="babies"># of Babies</option>

</select>

<section id = "custom-matches">
    
</section>

<script src="/js/dashboard.js"></script>
