<link rel="stylesheet" href="/css/dash.css">

 <aside>
    <h2>Filters</h2>
    <hr>
    <input type="radio" name="presets" id="ideal">
    <label for="ideal" class="radio-button">Ideal</label>

    <input type="radio" name="presets" id="secondary">
    <label for="secondary" class="radio-button">Great</label>

    <input type="radio" name="presets" id="basic">
    <label for="basic" class="radio-button">Basic</label>

    <input type="radio" name="presets" id="custom">
    <label for="custom" class="radio-button">Custom</label>
    <hr>
    <div id="filters">
        <input type="checkbox" name="filters" id="religion">
        <label for="religion" class="check-button">Religion</label>
        
        <input type="checkbox" name="filters" id="politics">
        <label for="politics" class="check-button">Politics</label>

        <input type="checkbox" name="filters" id="race">
        <label for="race" class="check-button">Race</label>

        <input type="checkbox" name="filters" id="role">
        <label for="role" class="check-button">Role</label>

        <input type="checkbox" name="filters" id="outgoing">
        <label for="outgoing" class="check-button">Outgoing</label>

        <input type="checkbox" name="filters" id="babies">
        <label for="babies" class="check-button">Desired Babies #</label>

        <input type="checkbox" name="filters" id="height">
        <label for="height" class="check-button">Height</label>

        <input type="checkbox" name="filters" id="weight">
        <label for="weight" class="check-button">Weight</label>

        <input type="checkbox" name="filters" id="sexy">
        <label for="sexy" class="check-button">Visual Feature</label>

        <input type="checkbox" name="filters" id="confrontation">
        <label for="confrontation" class="check-button">Confrontation</label>

        <p>Location</p>
        <input type="checkbox" name="filters" id="state">
        <label for="state" class="check-button">State</label>

        <input type="checkbox" name="filters" id="city">
        <label for="city" class="check-button">City</label>
    </div>    

    <h2>Query</h2>

</aside>

<h2>Matches</h2>
<hr>

<section id="matches">
 

</section>

<script src="/js/dashboard.js"></script>
