<link rel="stylesheet" href="/css/dash.css">
<h2>Ideal Matches!</h2>
<section id = "ideal-matches">

</section>
<hr>

<h2>Secondary Matches</h2>
<section id = "secondary-matches">
    
</section>
<hr>

<h2>Custom Matches</h2>
<select id="custom-match">
    <option disabled selected>Custom Criterion</option>
    <option value="religion">Religion</option>
    <option value="role">Gender Role</option>
    <option value="babies"># of Babies</option>

</select>

<section id = "custom-matches">
    
</section>

<script src="/js/dashboard.js"></script>
