<link rel="stylesheet" href="/css/landing.css">

<header></header>
<section>
    <div id="yar-logo">
        <h1>YAR</h1>
        <h2>Young and Ready</h2>
    </div>
    <br>

    <div id="account-boxes">
        <a href = "/bio/new" id = "signup">Sign Up</a href = "/bio">

        <div id="signin-box">
            Sign in
            <form>
                <input type="text" id = "landing-user" placeholder = "Username">
                <input type="password" id = "landing-password" placeholder = "Password">
                <button>Submit</button>
            </form>
            
        </div>
        
    </div>

    <article>
        <p>
            A dating app for people, not players.
        </p>
    </article>

    
</section>

    
<footer></footer>

<script src="/js/landing.js"></script>