<link rel="stylesheet" href="/css/messaging.css">
<h2>Conversations you've started</h2>
<div id="authored">

</div>

<h2>Messages from Others</h2>
<div id="received">

</div>

<script src="/js/messaging.js"></script>