<link rel="stylesheet" href="/css/profile.css">

<figure>
</figure>
<p id="name"></p>
<p id = "username"></p>
<div id="info">

    <div class="tabgroup">
        <p data-link = "biology" class = "active tab">Biology</p>
        <p data-link = "personality" class="tab">Personality</p>
        <p data-link = "answers" class="tab">Misc</p>
    </div>
    
    <section id = "biology"></section>
    <section id="personality"></section>
    <section id = "answers"></section>
</div>


<div id="ratings">
    <div id="flags">
        <h2>Red Flags!</h2>
        <hr>
        <em><p>Questionable things users should be aware of.</p></em>
        <hr>
        <ul>
        
        </ul>
        <span class = "haze"></span>
    </div>

    <div id = "stars">
        <h2>Stars</h2>
        <hr>
        <em><p>Noteworthy positive things!</p></em>
        <hr>
        <ul>

        </ul>
        <span class = "haze"></span>
        
    </div>

</div>


<div id="messaging">
    <h2>Messaging...</h2>
    <article></article>
    <textarea placeholder = "Don't be nervous! Everyone here's looking for love."></textarea>
    <button>Message!</button>
</div>

<!--Flags and Stars Popups-->

<div id="flag">
    <h3>What should other users be aware of?</h3>
    <br>
    <select name="redFlags">
        <option disabled selected>Potential Red Flags...</option>
    </select>
    <br><br>
    <div id="lies">
        <select name="lies">
            <option disabled selected>What did this person lie about?</option>

        </select>
        <br><br>
    <input id = "other-lies" type="text" placeholder = "Other...">
    </div>
    <button class = "bottom left" id = "cancel">Cancel</button>
    <button class = "bottom right" id = "submit-flag">Submit</button>
</div>

<script src="/js/profile.js"></script>