nav, aside {
    display: none;
}

main {
    padding: 10px;
    overflow-y:scroll;
    top: 0;
    right: 0;
}


#biology, #personality {
    padding: 10px;
    width: 350px;
    background: var(--layer0);
}

#biology {
    width: 250px;
}

input[type = text], input[type=password] {
    font-size: 16px;
    background: var(--layer1);
    color: var(--highlight);
    padding: 5px 10px;
    margin: 2px;
    border: none;
}

input[type=range] {
    width: 100%;
}

select {
    cursor: pointer;
    font-size: 16px;
    background: var(--layer0);
    color: white;
    border:none;
    border-bottom: white solid 1px;
    padding: 5px 10px;
}

#role-description {
    background: var(--layer0);
    padding: 15px;
}

input[type=radio], input[type=checkbox] {
    display: block;
    margin: 5px;
    opacity:0;
    position: absolute;
    width: 0;
}

.radio-button, .check-button {
    cursor: pointer;
    display: inline-block;
    margin: 5px 0px;
    background: var(--layer0);
    padding: 5px 10px;
    border: 1.5px solid var(--layer3);
    border-radius: 4px;
    transition: .15s;
}

.radio-button:hover {
    background: var(--layer3);
}

input[type=radio]:checked + .radio-button {
    background: var(--layer3);
    border: 1.5px solid white;
}

input[type=checkbox]:checked + .check-button {
    padding-left: 50px;
    background: var(--layer4);
}

/*Hidden Elements*/
label[for="role"], input[name="role"], input[name="mixed-race"], #role-description {
    display: none;
}

