main {
    background: var(--layer0);
    padding: 10px;
}

#full-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.matched-item {
    background: var(--layer3);
    padding: 5px;
}

.result {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 175px;
    height: 250px;
    background: transparent;
    margin: 5px;
    padding: 5px;
    text-align:center;
}

.inner {
    position: relative;
    border: var(--layer3) solid 5px;
    width: 100%;
    height: 100%;
    text-align:center;
    transition: transform .15s;
    transform-style: preserve-3d;
}

.result:hover .inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    z-index: 5;
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
    background: var(--layer0);
}

.back p {
    margin-bottom: 5px;
}

.result p {
    z-index: 3;
    background: var(--layer3);
    padding: 5px;
    color: white;
}

.result .top {
    transform: translateX(-50%);
    left: 50%;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.result .left {
    padding-right: 10px;
    border-top-right-radius: 10px;
}

.result .right {
    padding-left: 10px;
    border-top-left-radius: 10px;
}

.image-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.image-box img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-height: 100%;
}

#info {
    position: absolute;
    bottom: 0;
    top: 200px;
    text-align:left;
    width: 100%;
}

#profile {
    text-align:left;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    height: 100%;
    width: 49%;
    background: var(--layer0);
}

#red-flags, #messages {
    position: absolute;
    top: 0;
    left: 50%;
    height: 33%;
    width: 49%;
    background: var(--layer0);
    padding: 10px;
}

#messages {
    height: 66%;
    top: initial;
    bottom: 0;
}

#messages textarea {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 10px;
    right: 10px;
    width: 90%;
    background: black;
    height: 80px;
    padding: 5px;
}

#messages button {
    position: absolute;
    color: black;
    font-size: 18px;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
}

#close-popup {
    position: fixed;
    background: var(--layer0);
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: var(--layer3) solid 2px;
    top: 0;
    z-index:10;
    right: 0;
}

#rundown p {
    display: inline-block;
    padding: 5px;
}

#image img {
    position: relative;
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;
}
