figure {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

#ratings {
    position: absolute;
    top: 0px;
    left: 250px;
    right: 10px;
    height: 200px;
    padding: 5px;
    border-radius: 15px;
}

#stars, #flags {
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: var(--layer3);
    padding: 13px;
    width: 45%;
    height: 100%;
    vertical-align:top;
    overflow-y: hidden;
    border: var(--layer3) solid 2px;
    box-shadow: 0 5px 5px var(--layer0);
    z-index: 10;
    transition: .15s;
}

#stars:hover {
    border: var(--highlight) solid 2px;
}

#flags:hover {
    border: var(--layer4) solid 2px;
}

.haze {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(rgba(45,45,45,0), var(--layer3));
}

#flags ul {
    list-style: "- " inside;
}

#stars ul {
    list-style: "★ " inside
}

img {
    max-width: 200px;
}

aside {
    display: none;
}

main {
    right: initial;
    left: initial;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
}

#name {
    font-size: 28px;
}

#username {
    font-style: italic;
}

.matched {
    background: var(--layer3);
    padding: 5px;
}

#info {
    position: relative;
    width: 500px;
    height: initial;
    background: var(--layer0);
    z-index: 4;
}

section {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--layer0);
}

.tabgroup {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    text-align: right;
}

.tab {
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: bottom;
}

#biology p, #personality p {
    display: block;
}

section p {
    margin-bottom: 5px;
}

#personality, #answers {
    display: none;
}

.active {
    background: var(--layer0);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#answers p {
    line-height: 1.25em;
}

#flag {
    position: fixed;
    display: none;
    text-align:center;
    border: var(--layer4) solid 3px;
    border-radius: 15px;
    overflow:hidden;
    box-shadow: -2px 4px 5px black;
    padding: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    min-height: 270px;
    
    background: var(--layer0);
}

#flag select, #flag input{
    padding: 10px;
    background: var(--layer2);
    font-size: 16px;
    color: var(--text-color);
    border: none;
}

#flag button {
    background: var(--layer3);
    padding: 15px;
    font-size: 18px;
    border-bottom: none;
    border-top: var(--layer4) solid 2px;
}

#cancel {
    border-top-right-radius: 15px;
    border-right: var(--layer4) solid 2px;
    border-left: var(--layer3) solid 2px;
}

#submit-flag {
    border-top-left-radius: 15px;
    border-left: var(--layer4) solid 2px;
    border-right: var(--layer3) solid 2px;
}

#lies {
    display: none;
}

#other-lies {
    margin: 0 auto;
    display: none;
}


#messaging {
    position: absolute;
    left: 520px;
    top: 200px;
    bottom: 50px;
    right: 0px;
    background: var(--layer0);
}

#messaging h2, #messaging article, #messaging textarea {
    padding: 15px;
}

#messaging textarea {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
    width: 90%;
    height: 80px;
    background: var(--layer0);
    border: none;
    color: var(--text-color);
    border-right: var(--text-color) dashed 2px;
    border-left: var(--text-color) dashed 2px;
    resize: none;
}

#messaging article {
    text-align: center;
    height: 200px;
    overflow-y: auto;
    width: 100%;
}

#messaging button {
    position: absolute;
    bottom: 15px;
    transform: translateX(-50%);
    left: 50%;

    background: var(--layer3);
    padding: 5px 10px;
    color: var(--highlight);
    border: var(--highlight) solid 1px;
    border-radius: 15px;
}

.user-me {
    background: var(--layer2);
    padding: 5px;
    width: 100%;
    text-align: right;
}

.user-other {
    text-align: left;
    width: 100%;
    font-style: italic;
}