* {
    box-sizing: border-box;
}

:root {
    --navHeight: 35px;
    --position-class-padding: 0px;
    --text-color: rgb(202, 185, 185);
    --layer0: rgb(31, 19, 31);
    --layer1: rgb(51, 29, 40);
    --layer2: rgb(65, 30, 44);
    --layer3: rgb(94, 33, 51);
    --layer4: rgb(156, 43, 58);
    --highlight: rgb(255, 234, 113);
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--layer0);
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
}


a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bolder;
}

hr {
    border:none;
    border-bottom: 2px solid var(--layer4);
}


h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

main {
    background: linear-gradient(45deg, var(--layer0), var(--layer2));
    color: var(--text-color);
    font-family: sans-serif;
    width: initial;
    position: absolute;
    left: 0;
    bottom: 0;
    top: var(--navHeight);
    right: 150px;

    overflow-y: auto;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    color: inherit;
}

nav {
    position: fixed;
    padding: 5px;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navHeight);
    background: var(--layer3);
    font-size: 24px;
    color: var(--highlight);
}

nav > * {
    top: 50%;
    transform: translateY(-50%);
}

#logout {
    position: absolute;
    right: 5px;
}

aside {
    width: 150px;
    padding: 5px;
    position: fixed;
    top: var(--navHeight);
    bottom: 0;
    right: 0;
    text-align:center;
    background: var(--layer2);
}

aside input {
    border: none;
    padding: 5px;
    background: var(--layer0);
    color: white;
    max-width: 100%;
    margin-bottom: 5px;
}

.navbuttons {
    font-size: 14px;
    background: var(--layer3);
    display: inline-block;
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.navbuttons:hover {
    background: var(--layer4);
    text-shadow: 0 2px black;
}

#signin, #signup, #logout {
    border: none;
    background: var(--layer3);
    padding: 4px 6px;
}

#signin {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#signup {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom, .left, .right, .top {
    position: absolute;
}

.bottom {
    bottom: var(--position-class-padding);
}

.left {
    left: var(--position-class-padding);
}

.right {
    right: var(--position-class-padding);
}

.top {
    top: var(--position-class-padding);
}
